<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <title>Title</title>
</head>
<body>
<h1>Buscador de Libros</h1>
<label for="buscar">Nombre de Autor o T&iacute;tulo del Libro</label>
<input id="buscar" type="text" />
<button id="btnBuscarTitulo" type="button" class="boton-buscar">Buscar por T&iacute;tulo</button>
<button id="btnBuscarAutor" type="button" class="boton-buscar">Buscar por Autor</button>
</body>
</html>
<script>
    'use strict';

    const buscarEl = document.getElementById('buscar');

    document.getElementById('btnBuscarTitulo').addEventListener('click', () => {
            const url = "buscarTitulo?titulo=" + buscarEl.value;
            return window.location.href=url;
        });

    const buscarAutor = function() {
        const url = 'buscarAutor?autor=' + buscarEl.value;
        window.location.href=url;
    }

    document.getElementById('btnBuscarAutor').addEventListener('click', buscarAutor);
</script>