<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <title>Mini aplicación para laboratorio DevOps</title>
</head>
<body>
<h1>Listado de Libros Encontrados</h1>
<table>
    <tr>
        <th>ID</th>
        <th>T&iacute;tulo</th>
        <th>Autor</th>
        <th>ISB</th>
        <th>Editorial</th>
        <th>Categor&iacute;as</th>
    </tr>
    <tr th:each="libro : ${libros}">
        <td th:text="${libro.id}"></td>
        <td th:text="${libro.nombre}"></td>
        <td th:text="${libro.autor}"></td>
        <td th:text="${libro.isb}"></td>
        <td th:text="${libro.editorial}"></td>
        <td>
            <div th:each="categoria : ${libro.categorias}">
                <span th:text="${categoria}"></span>
            </div>
        </td>
    </tr>
</table>
<button id="btnVolver" type="button" class="boton-volver">Volver</button>
</body>
</html>
<script>
    'use strict';
    const volver = function() {
        window.loaction.href='inicio';
    };
    document.getElementById('btnVolver').addEventListener('click', volver);
</script>